
@model IEnumerable<movieentity1.UserInfo>
<div>
    <hr />
    <a asp-controller="User" asp-action="Register">
        Register
    </a><hr />
</div>
<div>
    <hr />
    <a asp-controller="User" asp-action="login">
        login
    </a><hr />
</div>