@model IEnumerable<movieentity1.Admin>
<div>
    <hr />
    <a asp-controller="Admin" asp-action="Register">
        Register
    </a><hr />
</div>
<div>
    <hr />
    <a asp-controller="Admin" asp-action="login">
        login
    </a><hr />
</div>